@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<st

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">


		<section id="slider" class="slider-element slider-parallax full-screen dark error404-wrap" style="background: url(../../Content/images/page/slider/error.jpeg) center;">
			<div class="slider-parallax-inner">

				<div class="container-fluid vertical-middle center clearfix">

					<div class="error404">404</div>

					<div class="heading-block nobottomborder">
						<h4>Ooopps.! The Page you were looking for, couldn't be found.</h4>
					</div>

					<a href="@Url.Action("Index", "Home")" class="button button-xlarge tright">Go to Home</a>


				</div>

			</div>
		</section>




	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="../../Content/scripts/jquery.js"></script>
	<script src="../../Content/scripts/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="../../Content/scripts/functions.js"></script>

</body>
